<section class="lightSection clearfix pageHeader">
  <div class="container">
    <div class="row">
      <div class="col-xs-6">
        <div class="page-title">
          <h2><%= contents.name %></h2>
        </div>
      </div>
      <div class="col-xs-6">
        <ol class="breadcrumb pull-right">
          <li>
            <a href="index.html">HOME</a>
          </li>
          <% if current_page?(potepan_category_path)%>
            <li><a href="index.html">SHOP</a></li>
          <% end %>
          <li class="active"><%= contents.name %></li>
        </ol>
      </div>
    </div>
  </div>
</section>