<% provide(:title, @taxon.name) %>

<!-- LIGHT SECTION -->
<%= render "potepan/shared/light_section", contents: @taxon %>

<!-- MAIN CONTENT SECTION -->
<section class="mainContent clearfix productsContent">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-4 col-xs-12 sideBar">
        <%= render "taxonomies_sidebar", taxonomies: @taxonomies %>
        <%= render "color_sidebar" %>
        <%= render "size_sidebar" %>
      </div>
      <div class="category-products col-md-9 col-sm-8 col-xs-12">
        <%= render "category_products", products: @products %>
      </div>
    </div>
  </div>
</section>

<!-- LIGHT SECTION -->
<%= render "potepan/shared/partners_logo" %>
